@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a> @Html.ActionLink("   Hola " + User.Identity.GetUserName() + "! ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:#fff" })</a>
            </li>
            <li class="nav-item text-white"><a href="javascript:document.getElementById('logoutForm').submit()" style="color:#fff"> | Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav justify-content-end" style="margin-left:30em;">
        <li>@Html.ActionLink("Registrarse |", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:#fff" })</li>
        <li>@Html.ActionLink(" | Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color:#fff" })</li>
    </ul>
}

