@model AlianzaPetrolera.Models.AlianzaBD.Persona
@{
    ViewBag.Title = "Home Page";
}


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/images/background.jpg" class="d-block" alt="...">
                <div class="container-fluid">
                    <div class="carousel-caption text-left">
                        <h1 style="margin-top:-7em">¡Haz parte de nuestra escuela!</h1>
                        <p>Te estamos esperando</p>
                  
                    </div>
                </div>
            </div>
          
           
        </div>
       
    </div>
 
