@model AlianzaPetrolera.Models.Admin.ReciboCaja

@{
    ViewBag.Title = "Create";
    Layout = "";
}

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Recibo</title>
</head>
<body>

    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-sm-10">
                <img src="~/Content/images/logo.png" />
            </div>

            <div class="col-sm-2" style="margin-top:2em;">
                <h5>N° Recibo 0001</h5>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <div class="col-sm-8">
                <h6>Estudiante:@ViewBag.Message2</h6>
            </div>

            <div class="col-sm-4">
                <h6>Fecha Y Generalización Recibo</h6>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row">
            <div class="col-sm-12">
                <h6>Categoria: @ViewBag.Message </h6>
            </div>

        </div>
        <hr />
        <br />

        <div class="row">
            <div class="col-sm-8">
                <h6>Tipo Cuenta: Ahorros</h6>
            </div>
            <div class="col-sm-4">
                <h6>Bancolombia</h6>
            </div>
            <div class="col-sm-12">
                <h6>#1215684-154541-12152</h6>
            </div>
        </div>


        <br />
        <br />
        <div class="container" style=" border:1px solid;border-color: #A59D9B; padding:10px 10px 10px 10px;">
            <div class="container">
                <form method="post">

                    <br />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Matricula: </span>
                        </div>

                        <input id="number" type="text" aria-label="First name" name="value1" value="80000" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descuento: </span>
                        </div>
                        <input type="text" aria-label="Last name" name="value2" class="form-control">
                    </div>
                    <br />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Poliza Accidentes: </span>
                        </div>

                        <input type="text" aria-label="First name" name="value3" value="10000" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descuento: </span>
                        </div>
                        <input type="text" aria-label="Last name" name="value4" class="form-control">
                    </div>
                    <br />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Uniforme: </span>
                        </div>

                        <input type="text" aria-label="First name" name="value5" value="50000" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descuento: </span>
                        </div>
                        <input type="text" aria-label="Last name" name="value6" class="form-control">
                    </div>
                    <br />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  Mensualidad: </span>
                        </div>

                        <input type="text" aria-label="First name" name="value7" value="80000" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descuento: </span>
                        </div>
                        <input type="text" aria-label="Last name" name="value8" class="form-control">
                    </div>
                 
                    <input type="submit" class="btn btn-warning text-white btn-lg btn-block" name="calc" id="calc" value="factura" /> <br />
                    <B><h2>@ViewBag.totfin</h2></B>
                    <p>
                        @Html.ActionLink("Generar Recibo", "ImprimirTodas")
                    </p>
                </form>
            </div>


        </div>


    </div>
    <br />
    <br />

    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>
