
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fondo-tabla texto-contenido">
    <br />
    <div class="titulo-index">
        <h1 class="col-sm-6">Reportes</h1>
    </div>
    <hr />

</body>

