
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Vista Admin</title>
</head>
<body class="fondo-tabla texto-contenido">
    <br>
    <style type="text/css">


        body {
            background: #f2f2f2;
            font-family: 'Comic Sans MS', arial;
        }

        h3 {
            font-family: 'Comic Sans MS', arial;
            margin: 6px 0px 0px -20px;
            font-size: 20px;
        }

        .box {
            padding: 60px 0px;
        }

        .box-part {
            background: #FFF;
            border-radius: 10px;
            padding: 20px 6px;
            margin: 30px 0px;
        }

            .box-part:hover {
                background: #000;
            }

        .tittle {
            margin-top: -4em;
        }

        .box-part:hover .fas,
        .box-part:hover .title,
        .box-part:hover .text,
        .box-part:hover a {
            color: #FFF;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }
        a {
            color: #000;
        }
            a:hover {
                color:#f2f2f2;
            }
        .text {
            margin: 20px 0px;
        }

        .fas {
            color: #FDEF02;
        }
    </style>

    <div class="titulo-index">
        <h1 class="col-sm-6">Reportes</h1>
    </div>
    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <a href="~/Report/ReporteReciboCaja">
                        <div class="box-part row">
                            <br>
                            <div class="col-md-4 text-center">
                                <i class="fas fa-file-download fa-3x"></i>
                            </div>
                            <div class="col-md-8 text-center">
                                <h3>Recibos Pagos</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <a href="~/Report/ReporteCategoriaSemillero">
                        <div class="box-part row">
                            <br>
                            <div class="col-md-4 text-center">
                                <i class="fas fa-file-download fa-3x"></i>
                            </div>
                            <div class="col-md-8 text-center">
                                <h3>Categoría Semilleros <br /> 4 y 5 años</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <a href="~/Report/ReporteCategoriaPreBaby">
                        <div class="box-part row">
                            <br>
                            <div class="col-md-4 text-center">
                                <i class="fas fa-file-download fa-3x"></i>
                            </div>
                            <div class="col-md-8 text-center">
                                <h3>Categoría Pre-Baby <br /> 6 Y 7 años</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <a href="~/Report/ReporteCategoriaBaby">
                        <div class="box-part row">
                            <br>
                            <div class="col-md-4 text-center">
                                <i class="fas fa-file-download fa-3x"></i>
                            </div>
                            <div class="col-md-8 text-center">
                                <h3>Categoría Baby <br /> 8 y 9 años</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <a href="~/Report/ReporteCategoriaPreInfantil">
                        <div class="box-part row">
                            <br>
                            <div class="col-md-4 text-center">
                                <i class="fas fa-file-download fa-3x"></i>
                            </div>
                            <div class="col-md-8 text-center">
                                <h3 style="font-size:19px">Categoría Pre-Infantil <br /> 10 y 11 años</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <a href="~/Report/ReporteCategoriaInfantil">
                        <div class="box-part row">
                            <br>
                            <div class="col-md-4 text-center">
                                <i class="fas fa-file-download fa-3x"></i>
                            </div>
                            <div class="col-md-8 text-center">
                                <h3>Categoría Infantil <br /> 12 y 13 años</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div>
            <a href="@Url.Action("AdminIndex","Admin")"><input type="button" class="btn btn-warning centrar-contenido" value="Regresar" /></a>
        </div>
        <br />
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
